<div class="user__popup-window">
    <p class="user__popup-message">{{messageText}}</p>
    <p class="user__popup-do">{{doText}}</p>
    <button class="user__form-button" type="button">{{buttonText}}</button>
    </p>