@import 'variables.scss';

.chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.chats {
    min-width: 310px;

    @include putColumnCenter;

    background-color: $panel-color;
}

.chats__profile-link-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 93%;
    min-height: 53px;

    .chats__profile-link {
        @include font(12px, 500, 12px, $text-light-gray);

        text-decoration: none;

        &::after {
            content: " >";
        }
    }
}

.chats__search-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 93%;
    height: 32px;
    margin-bottom: 14px;
    background-color: $back-panel-dark;
    border: none;
    border-radius: 5px;

    .chats__search-button {
        height: 26px;
        border: none;
    }

    .chats__search-input {
        @include deleteBorderInput;

        width: 90%;
        text-align: left;
    }
}

.chats__block {
    width: 93%;
}

.chats__chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 76px;
    border-top: $border-bottom-gray-line;
}

.chats__chat-open-main-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 76px;
    border-top: $border-bottom-gray-line;
}

.chats__chat-open {
    position: absolute;
    left: -11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 310px;
    min-height: 68px;
    background-color: $background-light;
}

.chats__chat-img {
    width: 47px;
    height: 47px;
    margin-right: 10px;
    background-color: $back-panel-dark;
    border-radius: 50%;
}

.chats__chat-img_open {
    margin-left: 7px;
}

.chats__chat-main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.chats__chat-main-block_open {
    width: 75%;
    margin-right: 5.5px;
}

.chats__chat-info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chats__chat-info-name {
    @include font(13px, 500, 13px, $text-dark-gray);
}

.chats__chat-time {
    @include font(9px, 500, 13px, $text-light-gray)
}


.chats__chat-message {
    display: -webkit-box;
    max-width: 190px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include font(12px, 500, 15px, $text-light-gray)
}

.chats__chat-message-span {
    @include font(12px, 500, 15px, $text-dark-gray)
}

.chats__chat-message-count {
    @include font(11px, 500, 12px, $white);

    width: 18px;
    height: 18px;
    background-color: $blue;
    border-radius: 50%;

    @include putСenter;
}

.feed {
    @include putСenter;

    width: 100%;
}

.feed__not_chats {
    margin: 0;
    text-align: center;

    @include font(12px, 500, 12px, $text-light-gray);
}

.feed__messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .feed__contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        min-height: 54px;
        border-bottom: $border-bottom-gray-line;

        .feed__contact-about {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;

            .feed__contact-img {
                width: 34px;
                height: 34px;
                background-color: $back-panel-dark;
                border-radius: 50%;
            }

            .feed__contact-name {
                @include font(13px, 600, 13px, $text-dark-gray);
            }
        }

        .feed__contact-more {
            margin-right: 10px;
        }
    }

    .feed__all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 95%;
        height: 100%;

        .feed__all-date {
            @include font(12px, 00, 12px, $text-light-gray);

            margin: 48px 0 30px;
        }

        .feed__all-messages {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            .feed__contact-message {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;

                .feed__contact-message-text {
                    width: 43%;
                    padding: 11px;
                    background-color: $panel-color;
                    border-radius: 0 12px 12px;

                    @include font(12px, 500, 15px, $text-dark-gray);
                }
            }

            .feed__you-message {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                max-width: 100%;

                .feed__you-message-text {
                    max-width: 43%;
                    padding: 11px;
                    background-color: $background-light;
                    border-radius: 12px 0 12px 12px;

                    @include font(12px, 500, 15px, $text-dark-gray);
                }
            }
        }
    }

    .feed__footer {
        @include putСenter;

        gap: 10px;
        width: 95%;
        min-height: 54px;
        border-top: $border-bottom-gray-line;

        .feed__form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .feed__form-input {
                width: 95%;
                height: 32px;
                padding-left: 20px;
                text-align: left;
                background-color: $back-panel-dark;
                border-radius: 30px;

                @include deleteBorderInput;
                @include font(12px, 600, 12px, $text-light-gray);
            }

            .feed__form-submit {
                background-color: $white;
                border: none;
            }
        }

    }
}
