@font-face {
  font-weight: 400;
  font-family: Inter;
  font-style: normal;
  src: url("../../static/fonts/Inter-Regular.woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: medium;
  src: url("../../static/fonts/Inter-Medium.woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Inter;
  font-style: bold;
  src: url("../../static/fonts/Inter-SemiBold.woff");
  font-display: swap;
}
