@import 'normalize';
@import 'variables';
@import '/static/fonts/fonts';
@import 'user';
@import 'page404';
@import 'chat';
@import 'login';
@import 'mainIndex';


body {
  color: $black;
  font-family: Inter, SuisseIntl, Arial, Helvetica, sans-serif;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input::placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

#app {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}
