@import 'normalize.scss';
@import 'variables.scss';
@import '/static/fonts/fonts.scss';
@import 'user.scss';
@import 'page404.scss';
@import 'chat.scss';
@import 'login.scss';
@import 'mainIndex.scss';


body {
  color: $black;
  font-family: Inter, SuisseIntl, Arial, Helvetica, sans-serif;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input::placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  /*input::placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  input::placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  input::placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }*/

  input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /*input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }*/
}

#app {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}
