@import 'variables';

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.user__back-panel {
    min-width: $back-panel-width;

    @include putcenter;

    background-color: $panel-color;
}

.user__register-form-block {
    @include putcolumncenter;

    width: 100%;
}

.user__not-foto-block {
    position: relative;
    margin-top: 60px;

    @include putcenter;

    .user__not-foto-background {
        @include putcenter;

        width: 130px;
        height: 130px;
        background-color: $back-panel-dark;
        border-radius: 75px;
    }

    .avatar-profile__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 75px;
    }

    .user__change-foto {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 130px;
        min-height: 130px;
        background-color: $black;
        border-radius: 75px;
        opacity: 0;
        transition: $transitionopasyty;

        @include putcenter;

        .user__change-text {
            max-width: 64px;
            text-align: center;

            @include font(13px, 500, 14px, $white);
        }

        &:hover {
            opacity: 0.4;
        }
    }
}

.user__name {
    @include font(16px, 600, 16px, $text-dark-gray);

    margin: 21px 0 0;
}

.user__info-form,
.user__info-form-change-password,
.user__info-form-change-profile {
    @include putcolumncenter;

    width: min(70%, 510px);
    max-height: 295px;
    margin-top: 60px;
}

.user__form-button {
    width: 280px;
    height: 37px;
    margin-top: 60px;
    background-color: $blue;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    @include font(13px, 500, 13px, $white);
}

.user__form-button_inactiv {
    background-color: $text-light-gray;
}

.user__input-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: $border-bottom-gray-line;

    .user__input {
        @include deleteborderinput;
        @include font(13px, 500, 13px, $text-light-gray);
    }

    .user__input-name {
        @include font(13px, 500, 13px, $text-dark-gray);

        margin: 10px 0;
    }
}

.user__input-error-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
   

    .user__input {
        @include deleteborderinput;
        @include font(13px, 500, 13px, $text-light-gray);
    }

    .user__input-name {
        @include font(13px, 500, 13px, $text-dark-gray);

        margin: 0 0 10px;
    }
}

.user__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border-bottom-gray-line;
}

.user__input-error{
    @include font(8px, 500, 8px, $error-red);

    width: 100%;
    opacity: 0;
}

.user__input-error-active {
    opacity: 1;
}

.user__change-block {
    display: flex;
    flex-direction: column;
    width: min(70%, 510px);
    margin-top: 60px;

    .user__link {
        text-decoration: none;
    }

    .user__change {
        @include font(13px, 500, 13px, $blue);
    }

    .user__change-exit {
        color: $error-red;
    }
}

.user__popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);

    @include putcenter;

    .user__popup-window {
        min-width: 340px;
        min-height: 257px;
        background-color: $white;
        border-radius: 12px;

        @include putcolumncenter;
    }

    .user__popup-message {
        @include font(15px, 500, 20px, $text-dark-gray);

        margin: 40px 0 0;
    }

    .user__popup-do {
        @include font(12px, 500, 16px, $blue);

        max-width: 112px;
        margin: 43px 0 0;
        text-align: center;
        text-decoration: underline  ;
        cursor: pointer;
    }
}

.user__avatar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.user__avatar-active {
    display: flex;
}

.user__delete-button {
    display: none;
    width: 280px;
    height: 37px;
    background-color: $blue;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    @include font(13px, 500, 13px, $white);
}

.user__delete-button_active {
    display: block;
}
