$panel-color: #FBFBFB;
$back-panel-dark: #EFEFEF;
$background-light: #E4EDFD;
$back-panel-width: 64px;
$text-light-gray: #999;
$text-dark-gray: #1E1E1E;
$white: #fff;
$blue: #3369F3;
$black: #000;
$error-red: #FF2F2F;
$border-bottom-gray-line: 1px #EAEAEA solid;
$transitionopasyty: 0.5s ease opacity;

@mixin putcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin putcolumncenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin font($fontS, $fontW, $fontH, $color) {
  color: $color;
  font-weight: $fontW;
  font-size: $fontS;
  line-height: $fontH;
}

@mixin deleteborderinput {
  text-align: right;
  background: transparent;
  border: none;
  outline: none;
}

@mixin borderinputline {
  text-align: left;
  border-bottom: 1px solid $blue;
}

